body{
	margin: 0;
}
a{
	text-decoration: none;
	color: #333;
}
.section{
	display: flex;
	width: 1480px;
	height: 1000px;
	background-image: url(img/img.jpg);
}
.sitebar{
	height: 940px;
	width: 80px;
	padding: 30px 20px;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.sitebar_icon{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.sitebar_icon a{
	padding-top: 38px;
}
.section-img{
	position: relative;
}
.header{
	width: 1200px;
	height: 70px;
	margin-left: 100px;
	margin-top: 30px;
}	
.header li{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}
.header a{
	font-family:'Public Sans', sans-serif;
	display: flex;
	text-decoration: none;
	color: #fff;
	padding-right: 50px;
}
.section_btn{
	width: 145px;
	height: 42px;
	background: #B59571;
	text-align: center;
	border: none;
	padding: 10px 20px;
	color: #fff;
}
.section_btn:hover{
	cursor: pointer;
}
.section-img_text{
	position: absolute;
	top: 600px;
	left: 302px;
	color: #fff;
	font-family: 'Public Sans',sans-serif;
	font-size: 24px;
	line-height: 76px;
}
.block-restaurant{
	margin: 150px 150px 70px 150px ;
	font-family: 'Public Sans', sans-serif;
}
.restaurant-title{
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.restaurant-img{
	margin-right: 30px;
}
.restaurant_text{
	display: flex;
	justify-content: center;
}
.subtitle{
	font-size: 64px;
	line-height: 77px;
	padding-right: 134px ;
	font-weight: 700;
}
.text{
	width: 490px;
	padding-top: 70px;
	font-weight: normal;
}
.block-menu{
	font-family: 'Public Sans', sans-serif;
	margin: auto 150px ;
}
.menu_title{
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.menu_subtitle{
	display: flex;
	font-size: 64px;
	padding-right: 110px ;
	font-weight: 700;
}
.menu_text{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pictures{
	margin: 80px auto;
	display: flex;
	justify-content: center;
}
.block1{
	width: 340px;
	height: 200px;
	border: 1px solid #33333333;
	padding: 40px 40px 0px ;
	z-index: 1;
	margin-right: 24px;
}
.block2{
	width: 340px;
	height: 200px;
	border: 1px solid #33333333;
	padding: 40px 40px 0 ;

}
.block1 div{
	z-index: 2;
}
.menus{
	display: flex;
	justify-content: center;
}
.pictures_text{
	width: 290px;
	display: flex;
	align-items: center;
	margin-right: 160px;
	font-family: 'Public Sans', sans-serif;
	font-weight: 700;
	font-size: 20px0;
	justify-content: space-around;
}
.pictures_text a{
	text-decoration: none;
	color: #333;
}
